[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
requests = "*"
keras = "*"
scikit-learn = "*"
keras-nlp = "*"
tensorflow = "*"
numpy = "*"
seaborn = "*"
gensim = "*"
streamlit = "*"

[dev-packages]
